* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* INDEX */

nav {
    position: absolute;
}

#banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

main.index{
    background: #CCCCCC;
}

.principal, .principal p{
    padding: 20px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

em strong{
    color: red;
}

#mision {
    font-size: 25px;
}

.diferenciales{
    padding: 30px;
}

.items {
    font-style: italic;
    margin-top: 25px;
}

#lista-diferenciales{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}


/* PRODUCTOS */

#header-productos{
    min-width: 940px;
    background-color: #bbbbbb;
    padding: 20px 0;
    width: auto;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


/* FOOTER */
footer{
    text-align: center;
    background-image: url(/Images/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

main.contacto{
    width: 940px;
    margin: 0 auto;
}

form.contacto{
    margin: 40px 0;
}

.contacto label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}


.contacto legend{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
    padding-top: 30px;

}

.input-padron, textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
}

select{
    padding: 5px;
    margin: 0 0 20px 70px;

}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.15);

}

table{
    margin: 40px;
}

thead{
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;

}